# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
/include
/src/ReadMe.txt
/src/.vs/ManagedLua/v15/.suo
/src/Debug/ManagedLua.tlog
/src/Debug
/src/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.asm
